@import "~normalize.css";
@import "./swiper/swiper.css";
@import "./formSearch/formSearch.css";
@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-Regular.ttf") format('truetype');
};
.container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.container__header{
    p{
      color: white;
      text-align: center;
    }
  background-color: black;
  width: 100%;
}
.container__main{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .swiper-container{
    margin-top:5px ;
  }
}
.container__footer{
  height: 50px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
    p{
      color:white;
    }

}
.footer__github{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  img{
    height: 45px;
  }
  a{
    color: yellow;
    text-decoration: none;
  }
}

.swiper-slide{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  img{
    width: 200px;
    height: 400px;
  }
  p{

  }
}
.swiper-wrapper{
  height: 400px;
}
.swiper-container{
  height: 500px;
  margin-bottom: 10px;
}
